.modal {
  background: rgba(0, 0, 0, 0.6); // overlay oscuro
}

.modal-content {
  animation: pop 0.3s ease-out;
  border-radius: 12px;
}

@keyframes pop {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
